body {
    background-color: black;
}

/* header */

header {
     display: block;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    justify-content: center;
    align-items: center;
}

.header-logo {
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile-name {
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.all-spaces {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 20px; 
    text-align: center;
    margin-bottom: 50px;
}

.space {
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    box-shadow: 30px 30px 40px rgba(182, 182, 182, 0.3);
    background-color: rgb(36, 36, 36);
    transition: transform 0.3s ease;
}

.space:hover {
    transform: translateY(-10px);
    border: 2px solid white;
}

.image-space {
    width: 530px;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: white rgb(36, 36, 36);

}

.image {
    width: 230px;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: translateY(-10px);
}

.info {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 10px;
    margin-top: 20px; 
}

.description {
    max-width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.git-icon {
    width: 20px;
    height: auto;
}

h1, h3, p, a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    border-top: 1px solid white;
}

.footer-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-space {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.footer-link {
    margin-left: 20px;
}

.footer-logo {
    width: 70px;
    height: 70px;
}

.description-tetx {
    max-width: 400px;
}

.sub-desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .space {
        height: auto;
        padding: 20px;
        margin: 10px;
    }

    .image {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .all-spaces {
        gap: 10px; 
    }

    .space {
        height: auto; 
        padding: 15px;
        margin: 5px;
    }

    .image-space {
        flex-direction: column;
    }

    .image {
        width: 60%;
        height: auto;
        padding: 5px;
    }

    .title, h3, p, a {
        font-size: 16px; 
    }

    .description-tetx {
        max-width: 300px;
    }
    .sub-desc {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .git-icon {
        width: 16px; 
    }
}

@media (max-width: 480px) {
    .title, h3, p, a {
        font-size: 14px;
    }
}